body {
  background-color: #e8f6ef;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

section {
  padding: 130px 20% 80px;
}

h1 {
  font-family: "Pacifico", cursive, sans-serif;
  font-size: 4rem;
  text-align: center;
}
h2 {
  color: #2f86a6;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  margin: 60px auto;
  text-align: center;
}

h6 {
  font-weight: bold;
}

main {
  display: none;
}

.container {
  margin-top: 30px;
}

/* header section */
#header {
  height: 100vh;
  width: 100%;
  /* background: url(images/bg.jpeg) no-repeat fixed center; */
  background: url(images/try.jpeg) no-repeat fixed center;
  background-size: cover;
}

#header .container {
  margin-top: 70px;
}

#header img {
  width: 60%;
  height: auto;
}

#header a .bi {
  position: absolute;
  bottom: 0;
  right: 30px;
  font-size: 2rem;
  color: #e8f6ef;
  background-color: black;
  padding: 20px 30px 10px 30px;
  border-radius: 20px 20px 0 0;
}

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #2e4c6d;
  z-index: 1;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #e8f6ef;
}

.navbar-brand {
  font-family: "Pacifico", cursive, sans-serif;
  font-size: medium;
}

.nav-item a.btn {
  margin: 8px 5px 0 15px;
  color: #2e4c6d;
}

.nav-item a.btn:hover {
  background-color: #ffffff;
}

/* profile section */
#aboutme {
  background-color: #ffffff;
  text-align: center;
}

#aboutme p {
  padding: 20px 0;
}

/* project section */
.card {
  background-color: #e8f6ef;
  margin-top: 80px;
}

.card-body {
  padding: 0 0 0 20px;
}

.card-text a {
  padding: 0 20px;
}

/* practices section */
#practice {
  margin: 20px 20px 80px;
  text-align: center;
}

#practice .row {
  margin: 60px 80px 20px;
}

#practice .col-lg-5 {
  margin: 20px auto;
  padding: 10px 20px;
}

.pra-img {
  width: 80%;
  height: 200px;
  margin-bottom: 10px;
}

.pra-img:hover {
  opacity: 0.8;
}

/* skill section */
#skills {
  background-color: #ffffff;
}

#skills .bi {
  color: #2f86a6;
}

.skill-name {
  float: left;
  font-size: 20px;
  margin-left: 20px;
  padding-top: 10px;
}

.skill-score {
  display: block;
  font-size: 18px;
  text-align: right;
  margin-right: 20px;
  padding-top: 10px;
}

.skill:hover {
  background-color: #f7f7f7;
}

.skill:hover .skill-score .bi {
  margin-left: 3px;
}

/* Education section */
#education {
  background-color: #ffffff;
}

/* contact section */
footer {
  background-color: #2e4c6d;
  padding: 40px 0 60px;
  text-align: center;
  color: #fef9ef;
}

footer h2 {
  font-family: "Pacifico", cursive, sans-serif;
  padding: 50px 0;
  color: #fef9ef;
}

footer a {
  color: #fef9ef;
  text-decoration: none;
}

footer a:hover {
  color: #d7e9f7;
}

@media (max-width: 992px) {
  section {
    padding: 130px 10px 100px;
  }
  #practice .row {
    margin: 30px 15% 20px;
    text-align: center;
  }

  #projects {
    text-align: center;
    margin: 0 40px;
  }
}
